// Specific CSS for your home-page
body {
  background-color: #f9f9f9;
  font-family: $Montserrat;
}

.works {
  margin-top: 180px;
  text-align: center;
  .hiw {

    font-family: $Montserrat;
    background-color: #F9EAE6;
    color: #ff9578;
    border-radius: 32px;
    border: none;
    padding: 14px 50px;
    font-weight: 800;
  }
  h2 {
    margin-top: 16px;
    font-size: 48px;
  }

  p {
   color: rgb(145, 145, 145);
   font-size: 20px;
  }

}
.steps-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 55px;
  margin-bottom: 180px;
  padding-left: 225px;
  padding-right: 225px;

  .step{
    text-align: center;

    h4 {
      font-family: $Montserrat;
    }
  }
}

.top-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f9f9f9;
  margin-right:72px;
  margin-left:72px;
  border-radius: 16px;
  height: 700px;
  border: solid 1px black;

  .left-top {
    h2{
      color: black;
      font-size: 54px;
    }
  }


}

.top-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 50px;
  .left-top{
    padding-left: 120px;
    margin-right: 0;
    margin-left: auto;
    width: 20%;
    h2 {
      font-size: 42px;
    }
  }
  .slide-container {
    width: 80%;
    padding: 30px;
  }
}
