li {
  list-style: none;
}

.card-saving {
  overflow: hidden;
  height: 220px;
  background: white;
  margin: 20px;
  box-shadow: $shadow-sm;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: center;
  .saving-left {
    width: 34%;
    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      object-position: 50% 83%;
     }
  }
  // .card-saving-infos {
  //   width: 66%;



  // }
  // .card-link {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  // }

}


.card-saving h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-saving p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-saving .card-saving-infos {
  padding: 16px;
}

.profilebanner {
  text-align: center;
}

.btn a {
  color: white;
}

.bi-trash {
  color: black;
}



.container {
  margin-top: 25px;
  .profile-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;



      .profile-card {
        position: sticky;
        top: 28px;
      grid-row: 1/32;
      .profile-top {
        height: 32%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
        }
      }
      .profile-bottom {
        height: 68%;
        text-align: center;
        padding-top: 80px;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        h4 {
          font-weight: bold;
        }
        p {
          color: rgb(157, 157, 157);
        }
        .ppic {
          width: 110px;
          height: 110px;
          border-radius: 50%;
          object-fit: cover;
          transform: translate(0px, -215px);
          border: 5px solid white;

        }
        .socials {
          a {
            padding: 6px;
          }
        }
      }

    }
    .box2{
      grid-row: 1/4;
      ol {
        display: flex;
        justify-content: space-around;
        border-radius: 8px;
        list-style-type: none;
        border: 1px solid lightgray;

        .profile-nav {
          display: inline-block;
          padding: 10px;

          a {
            background-image: linear-gradient(
              to right,
              #195d73,
              #36819a 50%,
              #000 50%
            );
            background-size: 200% 100%;
            background-position: -100%;
            display: inline-block;
            padding: 0;
            position: relative;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.4s ease-in-out;
          }

          a:before {
            content: '';
            background: #104B5F;
            display: block;
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 2px;
            transition: all 0.4s ease-in-out;
          }



          a:focus {
           background-position: 0;
          }

          a:focus::before {
            width:100%;
          }

        }
      }
    }
    .box3{
      grid-row: 4/24;
      border: 1px solid lightgray;
      border-radius: 16px;
      margin-bottom: 1rem;
      // background-color: #F9EAE6;

      .my-post {
        padding: 2rem;
        background-color: white;
        margin: 1rem;
        border-radius: 8px;
        box-shadow: $shadow-sm;

        .new_posting {
          display: block !important;
        }

        .field {
          margin-top: 16px;
          width: 100%;
          .string {
            display: none;
          }
        }


        .trix-button-row {
          .trix-button-group {
            .trix-button--icon-strike, .trix-button--icon-link, .trix-button--icon-heading-1, .trix-button--icon-quote, .trix-button--icon-code, .trix-button--icon-decrease-nesting-level, .trix-button--icon-increase-nesting-level, .trix-button--icon-undo, .trix-button--icon-redo {
              display: none;
            }
          }
        }


        #posting_content {
          min-height: 250px;
          margin-top: 12px;
          width: 100%;
          border: 1px solid lightgray;
          padding: 16px;
        }
        .posting_content {
          flex-grow: 1;
          margin: 0 !important;
          padding-right: 12px;
          padding-left: 12px;

        }
        .submit-post-btn {
          width: unset;
          background-color: #F9EAE6;
          color: #ff9578;
        }
        #new_posting {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }

       #post-img {
        height: 58px;
        width: 58px;
        border-radius: 50px;
        object-fit: cover;
        margin-right: 8px;
       }
       input {
        width: 100%;
        padding: 10px 18px;
        margin: 8px 0;
        background-color: #EEF2F4;
        border: none;
        border-radius: 32px;

       }

      }
      .my-posting {
        .post {
          padding: 2rem;
          background-color: white;
          margin: 1rem;
          border-radius: 8px;
          box-shadow: $shadow-sm;
        }
        hr {
          margin-top: 1rem;
          margin-bottom: 1rem;
          border: 0;
          border-top: 1px solid rgba(0, 0, 0, 0.5);
        }

        .post-top {
          display: flex;
          align-items: center;
          position: relative;

          .post-top-cont {
            .btn {
              position: absolute;
              top:0;
              right: 0;
            }
            h5 {
              margin: 0;
              padding: 0;
              font-size: 16px;
            }
            h6 {
              margin: 0;
              padding: 0;
              font-size: 13px;
              color: rgb(150, 150, 150);
            }

          }
        }
       img {
         height: 58px;
         width: 58px;
         border-radius: 50px;
         object-fit: cover;
         margin-right: 8px;
       }
      }
    }
    .box4{
      grid-row: 32/50;
      border: 1px solid lightgray;
      border-radius: 16px;
      height: auto;
      margin-top: 1rem;
      position: sticky;
      top: 545px;
      .card-flex {
        padding: 16px;
        h5 {
          font-weight: bold;
        }

        .people-card {
          display: flex;
          justify-content: flex-start;
          margin-top: 22px;

          img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            object-fit: cover;
          }
          .people-info {
            margin-left: 12px;

            h3 {
              font-size: 18px;
              margin: 0;
              padding: 0;
            }
            p {
              font-size: 14px;
              margin: 0;
              padding: 0;
              color: rgb(142, 142, 142);
            }
          }

        }
      }

    }
    .box5{
      grid-row: 24/44;
      border: 1px solid lightgray;
      border-radius: 16px;
      margin-bottom: 1rem;
    }
    .box6{
      grid-row: 44/64;
      border: 1px solid lightgray;
      border-radius: 16px;
      margin-bottom: 1rem;

      .post-bottom {
        .top-rev {
          display: flex;
          align-items: center;
          justify-content: start;
          div {
            color: rgb(234, 195, 0);
          }
          .rev-name {
            color: rgb(122, 122, 122);
            margin-left: 10px;
          }
        }
        .div-cont {
          padding-top: 12px;
        }
      }

        .post {
          padding: 2rem;
          background-color: white;
          margin: 1rem;
          border-radius: 8px;
          box-shadow: $shadow-sm;
        }
        hr {
          margin-top: 1rem;
          margin-bottom: 1rem;
          border: 0;
          border-top: 1px solid rgba(0, 0, 0, 0.5);
        }

      .post-top {
        display: flex;
        align-items: center;
        position: relative;



        .post-top-cont {

          .btn {
            position: absolute;
            top:0;
            right: 0;
          }
          h5 {
            margin: 0;
            padding: 0;
            font-size: 16px;
          }
          h6 {
            margin: 0;
            padding: 0;
            font-size: 13px;
            color: rgb(150, 150, 150);
          }

        }
      }
       img {
         height: 58px;
         width: 58px;
         border-radius: 50px;
         object-fit: cover;
         margin-right: 8px;

      }

    }
    .box7{
      grid-row: 50/64;
      border: 1px solid lightgray;
      border-radius: 16px;
    }
  }
}
