body {
  background-color: #f9f9f9;
  font-family: $Montserrat;
}

.show-content-div {
  margin-top: 20px;
}

.show-container {
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
}

.btn {
  border-radius: 6px;
  margin: 5px;
}

.show-images-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 400px;
  gap: 16px;
}

.show-images-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: #b9b9b9 0px 6px 16px;
}

.show-images-row-2 {
  grid-row: span 2;
}

.show-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.show-form {
  border: 0.5px solid lightgray;
  border-radius: 6px;
  padding: 20px;
  width: 49%;
  margin-left: 15px;
  box-shadow: #b9b9b9 0px 6px 16px;
}

.show-buttons {
  align-items: flex-end;
  margin-top: 68px;
}

// img {
//   box-shadow: #b9b9b9 0px 6px 16px;
// }
