<div class="nav">
  <div class="right-nav">
    <h4>AroundU</h4>
  </div>
  <div class="mid-nav">
    <ol>
      <li class="nav-item"><a href="#">My Profile</a></li>
      <li class="nav-item"><a href="#"><%= link_to "Activities", activities_path %></a></li>
      <li class="nav-item"><a href="#">About-Us</a></li>
      <li class="nav-item"><a href="#">FAQs</a></li>
    </ol>
  </div>
  <div class="left-nav">
    <button type="button" class="btn btn-primary">Log in</button>
    <%# <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item", data: {turbo_method: :delete} %>
  </div>
</div>
