<div class="nav">
  <div class="right-nav">
    <h4>Around-U</h4>
  </div>
  <div class="mid-nav">
    <ol>
      <li class="nav-item"><a href="#">My Profile</a></li>
      <li class="nav-item"><a href="#">Activities</a></li>
      <li class="nav-item"><a href="#">About-Us</a></li>
      <li class="nav-item"><a href="#">FAQs</a></li>
    </ol>
  </div>
  <div class="left-nav">
    <button type="button" class="btn btn-primary">Log in</button>
  </div>
</div>
