<div class="container-index">
  <div class="index-display">
  <ul>
    <% @savings.each do |saving| %>
      <li><%= saving.user.first_name%>,
      <%= saving.activity.name%>,
      <%= saving.attendance%></li>
    <% end %>
  </ul>
  </div>
</div>
