.banner {
  background-color: #f9c594;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  margin-top: 25px;
  margin-bottom:20px;
  margin-right:72px;
  margin-left:72px;
  border-radius: 16px;

  .container-banner-right {
    .banner-img {
      transform: translate(-150px, 85px);
    }
  }

  .container-banner-left {
    width: 610px;
    word-wrap: normal;
    padding-left: 10%;
    h2 {
      font-size: 50px;
      font-family: $Montserrat;
      font-weight: lighter;
    }
  }

  .left-nav{
    .login {
      font-family: $Montserrat;
      background-color: #F9EAE6;
      color: black;
      border-radius: 32px;
      border: none;
    }
  }
}
