.btn-orange {
  background-color: #F9EAE6;
  color: #ff9578;
  padding: 10px 18px;
  margin: 8px 0;
  border: none;
  border-radius: 32px !important;
  &:hover {
    color: #ff9578;
    background: #F9EAE6;
  }
}
