<div class="container-index">
  <div class="index-display">
    <% @activities.each do |activity| %>
      <%= render 'shared/cardview', activity: activity %>
    <% end %>
  </div>
    <%= image_tag("map.png", :class => "map-img") %>
</div>
<%=  render 'shared/footer' %>
